# print

In [1]:
a = 10 # a에 10을 저장합니다.
# 명령문 또는 키워드(파라미터)

print(1 + 2)   
print('내용출력')

3
내용출력

In [2]:
num1 = 13
num2 = 25  
num3 = 77

print(num1)
print(num2)
print(num3) # 파이썬은 print는 자동으로 줄이 바뀐다.

13
25
77

In [3]:
print(num1); print(num2); print(num3);
# 여러개의 명령을 한 줄에 쓸 때 ;로 구분

13
25
77

In [4]:
# , 로도 구분
print(num1), print(num2), print(num3);

13
25
77

In [5]:
# 여러개를 한번에 출력 하고 싶을 때 나중에 함수 배울 때 왜 이게 되는지 알게 된다.
print(num1, num2, num3);

13 25 77

In [6]:
# 나는 줄을 바꾸기 싫다.
# end : print()문의 끝 문자를 설정
# \n : 줄넘김 표시
print(num1 , end = '\n') # \n 값이 디폴트다.
print(num2 , end = ' ')
print(num3)

13
25 77

In [7]:
num4 = 3.1425
num5 = 1.25
num6 = 3.0

num4
num5
num6 # 같은 위치에 덮어서 출력하기 때문에 num6만 출력하게 된다. 그래서 print를 쓴다.

3.0

In [8]:
num4, num5, num6 # 튜플 형태로 출력한다.

(3.1425, 1.25, 3.0)

In [9]:
# 문자열을 변수에 저장
# 외따옴표, 쌍따옴표 둘다 사용할 수 있다. 
str1 = "Funny python"
str2 = 'Easy python'
str1, str2, print(str1, str2) # 섞어 쓰는것는 별로.

Funny python Easy python

('Funny python', 'Easy python', None)

In [ ]:
# 논리를 변수에 저장
str1 = True
str2 = False
print(str1, str2)

True False

## 변수명 작성 규칙

- 영문자, 숫자, 언더바(_)만 쓸 수 있다. 
- 숫자로 시작할 수 없다. 
- 키워드는 변수명으로 쓸 수 없다.

In [ ]:
# 키워드는 변수명으로 사용하면 안된다.  
# print = 100

print #

In [ ]:
# print(str1) # print함수가 사라지고 print 정수형 변수만 남았다.

In [ ]:
print(10)

10

In [ ]:
print(str1)

True

In [ ]:
# 파이썬에서는 동시에 여러 개의 변수에 값을 할당할 수 있다.
a, b, c = 10, 20, 30

print(a, b, c)

10 20 30

In [ ]:
# <실습>
# n1에 100, n2에 '홍길동', n3에 10.45, n4에 False 저장하고 출력
n1, n2, n3, n4 = 100, '홍길동', 10.45, False
print(n1, n2, n3, n4)

100 홍길동 10.45 False

In [ ]:
# 동일한 값을 여러개의 변수에 할당
str1 = str2 = "python"
print(str1, str2)

python python

In [ ]:
# <실습>
x, y = 100, 200
hap = x + y # sum은 키워드라서 hap을 쓴다.

print(hap)

300

# 문자열 저장
- 문자열 안에 작은따옴표가 있는 경우 - 큰따옴표로 묶어준다.
- 문자열 안에 큰따옴표가 있는 경우 - 작은따옴표로 묶어준다.

In [ ]:
str1 = "she's gone"
print(str1)

she's gone

In [ ]:
str2 = 'she said "I am sorry"'
print(str2)

she said "I am sorry"

In [ ]:
# she's gone she said "I am sorry "

# 문자열 안에 작은따옴표와 큰따옴표가 둘다 있을 때 - 역슬래시를 사용해서 해당 문자를 설정한다. 
# \문자
str3 = "she\'s gone she said \"I am sorry\""
print(str3)

she's gone she said "I am sorry"

In [ ]:
# 제어문자
# \n : 줄넘김
# \t : tab 탭 일정한 크기의 공백을 추가
# print를써야 역슬래시 문자자체가 아니라 뜻하는 기능을 출력할 수 있다. 

str4 = "안녕하세요\n 파이썬입니다\tapp특화반입니다"
print(str4)

안녕하세요
 파이썬입니다	app특화반입니다

In [ ]:
# 여러 줄의 문자열을 저장할 때
# 작은따옴표나 큰따옴표 3개로 묶는다.

str5 = '''안녕하세요
파이썬입니다
app특화반입니다'''

print(str5)

안녕하세요
파이썬입니다
app특화반입니다

# 문자열 인덱싱

- 인덱스 : 값에 저장되는 주소를 가리키는 번호. 자동으로 부여된다. 
 - 왼쪽 인덱스 : 0부터 시작해서 1씩 증가
 - 오른쪽 인덱스 : -1부터 시작해서 1씩 감소

- 인덱싱(Indexing) : 여러개의 값에서 한개의 값을 가져오는 것
 - 대괄호를 사용해서 인덱스를 설정
 - 변수명[인덱스]

In [ ]:
#       01234567890123
str6 = 'Python is easy'
#   -   43210987654321
print(str6[10])
print(str6[-4])

e
e

In [ ]:
print(str6[4])
print(str6[-10])

o
o

In [ ]:
# <실습> 문자열 안의 문자를 가져와서 Pony 를 출력
print(str6[0], str6[4], str6[5], str6[-1])

P o n y

# 문자열 슬라이싱

- 범위(시작인덱스, 끝인덱스, 증가값)를 설정해서 해당 범위의 인데스를 가져오는 것. 여러개의 인덱스를 가져온다. 

- 변수명[시작인덱스:끝인덱스 + 1:증가값]
 - 시작인덱스를 생략하면 0 인덱스로 인식한다.
 - 끝인덱스를 생략하면 -1 인덱스로 인식한다.
 - 둘다 생략하면 전체 인덱스로 인식한다.
 - 증가값을 생략하면 1로 인식한다.
 - 증가값을 -1로 하면 순서를 뒤집는다.

In [ ]:
#       01234567890123
str6 = 'Python is easy'
#   -   43210987654321

# Python
print(str6[0:6:1])
print(str6[0:6]) # 증가값 1은 생략
print(str6[:6]) # 시작 인덱스가 0이면 생략가능

#시작인덱스 끝인덱스 생략
print(str6[:])
print(str6[0:5:-1]) # 왜 안나올까

Python
Python
Python
Python is easy

In [ ]:
# <실습> easy만 출력
# 끝 인덱스를 접근하는 경우에는 반드시 생략하자.
print(str6[10:14]) # 실행은 됐지만 14번 인덱스는 없다. 좋은 방법이 아니다. 
print(str6[-4:0])  # 오른쪽 인덱스 방식에는 0 인덱스가 없다.  
print(str6[-4:])

easy

easy

In [ ]:
# <실습>

dy_info = "20220628Cloudy"
year = dy_info[:4]
day = dy_info[4:8]
weather = dy_info[8:]
print("년도:", year)
print("월일:", day)
print("날씨:", weather)

년도: 2022
월일: 0628
날씨: Cloudy

In [ ]:
# %로 대입
# %d decimal %f float %s string %c char
month , day = 6, 28
str10 = "오늘은 %d월 %d일 입니다"%(month, day)

print(str10)

오늘은 6월 28일 입니다

# 문자열 포맷팅
- 출력 문자열의 형식을 지정하는 것

- 방법
  - %
  - format()
  - f

In [ ]:
today = "내일"
month, day = 6, 29
# 내일은 6월 29일 입니다. 출력

str11 = "%s은 %d월 %d일 입니다"%(today, month, day)
print(str11)

내일은 6월 29일 입니다

In [ ]:
str12 = "{}은 {}월 {}일 입니다.".format(today, month, day)
print(str12)

내일은 6월 29일 입니다.

In [ ]:
x, y = 100, 200
hap = x + y

str13 = "%d과 %d의 합은 %d입니다"%(x, y, hap)
print(str13)
str13 = "{}과 {}의 합은 {}입니다".format(x, y, hap)
print(str13)

100과 200의 합은 300입니다
100과 200의 합은 300입니다

In [ ]:
month = 6
day = 28
today = "오늘"

str14 = f"{today}은 {month}월 {day}일 입니다"
print(str14)

오늘은 6월 28일 입니다

In [ ]:
str1 = "'홍길동' 캐릭터의 레벨은 50이며 현재 경험치는 25.8입니다. 직업은 도적입니다."
str2 = "'캔디' 캐릭터의 레벨은 49이며 현재 경험치는 87.2입니다. 직업은 마법사입니다."

print("캐릭터 정보")
print("=======================================")
print("항목\t\t캐릭터1\t\t캐릭터2")
print("---------------------------------------")
print(f"이름\t\t{str1[1:4]}\t\t{str2[1:3]}")
print(f"레벨\t\t{str1[15:17]}\t\t{str2[14:16]}")
print(f"경험치\t\t{str1[28:32]}%\t\t{str2[27:31]}%")
print(f"직업\t\t{str1[-6:-4]}\t\t{str2[-7:-4]}")
print("---------------------------------------\n")
print(f"캐릭터 레벨의 합은 {(int(str1[15:17]) + int(str2[14:16]))}입니다.")

캐릭터 정보
=======================================
항목		캐릭터1		캐릭터2
---------------------------------------
이름		홍길동		캔디
레벨		50		49
경험치		25.8%		87.2%
직업		도적		마법사
---------------------------------------

캐릭터 레벨의 합은 99입니다.

In [ ]:
str1 = "'홍길동' 캐릭터의 레벨은 50이며 현재 경험치는 25.8입니다. 직업은 도적입니다."
str2 = "'캔디' 캐릭터의 레벨은 49이며 현재 경험치는 87.2입니다. 직업은 마법사입니다."

print("캐릭터 정보")
print("================================")
print("%-10s%-10s%s"%("항목", "캐릭터1", "캐릭터2"))
print("--------------------------------")
print("%-10s%-10s%s"%("이름", str1[1:4], str2[1:3]))
print("%-10s%-13s%s"%("레벨", str1[15:17], str2[14:16]))
print("%-9s%-13s%s"%("경험치", str1[28:32] + "%", str2[27:31] + "%"))
print("%-10s%-11s%s"%("직업", str1[-6:-4], str2[-7:-4]))
print("--------------------------------")
print("")
print(f"캐릭터 레벨의 합은 99입니다.")

캐릭터 정보
================================
항목        캐릭터1      캐릭터2
--------------------------------
이름        홍길동       캔디
레벨        50           49
경험치      25.8%        87.2%
직업        도적         마법사
--------------------------------

캐릭터 레벨의 합은 99입니다.

# 문자열 함수

- len(문자열) : 문자열에 포함된 문자의 수를 반환
- 문자열.count(문자) : 문자열에 포함된 해당 문자의 수를 반환합니다. 

- 문자열.index(문자) : 문자열에서 해당 문자의 첫 번째 위치를 반환. 없으면 오류 발생
- 문자열.find(문자) : 문자열에서 해당 문자의 첫 번째 위치를 반환. 없으면 -1을 반환

- 문자.join(문자열) : 문자열 사이에 문자를 추가한다. 

- 문자열.upper() : 영어 소문자를 대문자로 바꾼다.
- 문자열.lower() : 영어 대문자를 소문자로 바꾼다. 한글에는 쓸모 없다. 

- 문자열.lstrip() : 왼쪽 공백을 제거한다. 
- 문자열.rstrip() : 오른쪽 공백을 제거한다.
- 문자열.strip() : 양쪽의 공백을 제거한다. 

- 문자열.replace("문자1", "문자2") : 문자열에 포함된 문자1을 문자2로 변경

- 문자열.split(문자) : 문자열을 해당 문자를 기준으로 분리한다.

In [ ]:
str1 = "Python is Easy and Simple"

# 문자의 개수
print(len(str1)) # 공백 포함해서 문자의 개수를 센다.

# 문자열에 i 문자가 몇개 있을까?
# 단어 빈도는 텍스트 분석에서 중요하다. 
print(str1.count('i'))

# 문자열에서 첫 번째 i 문자의 위치
print(str1.index('i'))
print(str1.find('i'))

# print(str1.index('k'))
print(str1.find('k'))

# 문자 추가
print("|".join(str1)) # 잘 안쓴다.

# 대소문자 변환
print(str1.upper())
print(str1.lower())

# 공백 제거 (왼쪽 오른쪽 양쪽)
str2 = "   Python         "

print(str2.lstrip()) # 드래그하면 공백이 있는지 없는지 알 수 있다.
print(str2.rstrip())
print(str2.strip()) # strip에 rstrip, lstrip이 들어가 있다. 그래서 한쪽만 필요할때 그냥 strip을 쓰면 느리다.

# 문자변환 - 텍스트 전처리, 카테고리화? 이런데에 쓴다고 함
print(str1.replace("Python", "Java"))

# 문자열 분리 - 텍스트 분석에서 초기 단계의 단어분리에 주로 사용
print(str1.split(" "))

25
2
7
7
-1
P|y|t|h|o|n| |i|s| |E|a|s|y| |a|n|d| |S|i|m|p|l|e
PYTHON IS EASY AND SIMPLE
python is easy and simple
Python
   Python
Python
Java is Easy and Simple
['Python', 'is', 'Easy', 'and', 'Simple']

In [ ]:
str3 = "   홍길동 :    20      :   의적    "
print(len(str3))
print(str3.count(":"))
print(str3.index("2"))
print(str3.replace("20", "24"))
str3_1 = str3.split(":")
str3_2 = str3_1[0].split() + str3_1[1].split() + str3_1[2].split() # 이게 왜 될까? split()에 아무것도 안 넣었을 때 공백은 다 제거된다. ?
print(str3_2)
print(str3_1[0].split())
str3_3 = str3.replace(" ", "")
print(str3_3.split(":"))

30
2
12
   홍길동 :    24      :   의적
['홍길동', '20', '의적']
['홍길동']
['홍길동', '20', '의적']

# 연산자

- 산술연산자 : +, -, *, /, //(몫), %(나머지)
- 지수연산자 : **
- 대입(복합)연산자 : =, +=, -=, *=, /=, //=, %=
- 관계연산자 혹은 비교연산자 : ==, !=, >, >=, < <=
- 논리연산자 : and, or, not(부정논리)
- 삼항연산자 : True일때 값 if 조건 else False일때 값

In [ ]:
# + 연산자가 문자열을 만나면??? -> 연결연산자, 결합연산자
# 연산자 overriding? 같은 모양의 연산자지만 상황에 따라 다른 기능을 하는 것
num1 = "10"
num2 = "20"
num3 = 30
num4 = 40

print(num1 + num2)
print(num3 + num4)

1020
70

In [ ]:
# 문자열과 숫자를 더하면?
# print(num1 + num3) #안 된다. 문자에 정수는 결합할 수 없다.
# print(num3 + num1) #얘도 안 된다. 정수와 문자열의 + 연산은 지원하지 않는

# 형변환 함수

- int() : 문자열 타입의 숫자를 정수타입으로 변환
- str() : 숫자를 문자열로 변환
- float() : 문자열을 실수로 변

In [ ]:
# 문자열을 정수로 변환해야 더하기를 할 수 있다.

print(int(num1) + num3)
print(num3 + int(num1))

40
40

In [ ]:
# 홍길동님은 20세 입니다.
str1 = "홍길동"
age = 20

print(str1 + "님은 " + str(age) + "세 입니다")

홍길동님은 20세 입니다

# input() : 값을 입력받는 함수
- 기본적으로 문자열로 입력받는다.

In [ ]:
num1 = input()

print(num1)

13
13

In [ ]:
# 입력받을 때 메시지를 추가
num2 = input("값을 입력하세요 >> ")

print(num2)

값을 입력하세요 >> 2
2

In [ ]:
num1 = int(input("num1 = "))
num2 = int(input("num2 = "))

print(f"더하기 결과 : {num1 + num2}")
print(f"빼기 결과 : {num1 - num2}")
print(f"곱하기 결과 : {num1 * num2}")
print("나누기 결과 : {:.3f}".format(num1 / num2)) # format() 함수로 출력 형식을 설정하려면 :을 쓴다.
print("나누기 결과 : %f"%(num1 / num2)) # %f는 소수점 6째자리까지 나타낸다.
print("나누기 결과 : %.4f"%(num1 / num2))

num1 = 3
num2 = 3
더하기 결과 : 6
빼기 결과 : 0
곱하기 결과 : 9
나누기 결과 : 1.000
나누기 결과 : 1.000000
나누기 결과 : 1.0000

In [ ]:
timeK = int(input("시간 입력 >> "))
hour = timeK // 3600
minute = timeK % 3600 // 60
second = timeK % 60
print(f"{hour}시간 {minute}분 {second}초")

시간 입력 >> 7533
2시간 5분 33초

In [6]:
import time

#nowTime = int(input("시간 입력 >> "))
nowTime = int(time.time()) # 지금 시간 초 단위로 가져오기

hour = nowTime % (24 * 60 * 60) // 3600

minute = nowTime % (60 * 60) // 60

second = nowTime % 60

totalDay = nowTime // (24 * 60 * 60) # 총 날수

thisYear = int((719529 + totalDay) // 365.2425) # 올해. 구하느라 힘들었다.

thisYearDay = totalDay # 올해의 날수

yearK = 1970 # 기준년

yunYear = False # F는 평년, T는 윤년

month = 0

day = 0

while True: # 올해의 날수 구하기. 윤년이면 총 날수에서 365일이 아니라 366일을 뺀다.
  if (yearK < thisYear):
    if (yearK % 400 == 0):
      thisYearDay -= 366
    elif (yearK % 100 == 0):
      thisYearDay -=365
    elif (yearK % 4 == 0):
      thisYearDay -=366
    else:
      thisYearDay -=365
    yearK += 1
  else:
    break

if (thisYear % 400 == 0): # 윤년 여부 판단
  yunYear = True
elif (thisYear % 100 == 0):
  yunYear = False
elif (thisYear % 4 == 0):
  yunYear = True
else:
  yunYear = False

if (~yunYear): # 평년이면 2월은 28일까지
  if (thisYearDay < 31):
    month = 1
    day = 1 + thisYearDay # 날짜는 1년 시작하자마자 1일이기 때문에 1을 더해야 한다.
  elif (thisYearDay < 31 + 28):
    month = 2
    day = 1 + thisYearDay - (31)
  elif (thisYearDay < 31 + 28 + 31):
    month = 3
    day = 1 + thisYearDay - (31 + 28)
  elif (thisYearDay < 31 + 28 + 31 + 30):
    month = 4
    day = 1 + thisYearDay - (31 + 28 + 31)
  elif (thisYearDay < 31 + 28 + 31 + 30 + 31):
    month = 5
    day = 1 + thisYearDay - (31 + 28 + 31 + 30)
  elif (thisYearDay < 31 + 28 + 31 + 30 + 31 + 30):
    month = 6
    day = 1 + thisYearDay - (31 + 28 + 31 + 30 + 31)
  elif (thisYearDay < 31 + 28 + 31 + 30 + 31 + 30 + 31):
    month = 7
    day = 1 + thisYearDay - (31 + 28 + 31 + 30 + 31 + 30)
  elif (thisYearDay < 31 + 28 + 31 + 30 + 31 + 30 + 31 + 31):
    month = 8
    day = 1 + thisYearDay - (31 + 28 + 31 + 30 + 31 + 30 + 31)
  elif (thisYearDay < 31 + 28 + 31 + 30 + 31 + 30 + 31 + 31 + 30):
    month = 9
    day = 1 + thisYearDay - (31 + 28 + 31 + 30 + 31 + 30 + 31 + 31)
  elif (thisYearDay < 31 + 28 + 31 + 30 + 31 + 30 + 31 + 31 + 30 + 31):
    month = 10
    day = 1 + thisYearDay - (31 + 28 + 31 + 30 + 31 + 30 + 31 + 31 + 30)
  elif (thisYearDay < 31 + 28 + 31 + 30 + 31 + 30 + 31 + 31 + 30 + 31 + 30):
    month = 11
    day = 1 + thisYearDay - (31 + 28 + 31 + 30 + 31 + 30 + 31 + 31 + 30 + 31)
  elif (thisYearDay < 31 + 28 + 31 + 30 + 31 + 30 + 31 + 31 + 30 + 31 + 30 + 31):
    month = 12
    day = 1 + thisYearDay - (31 + 28 + 31 + 30 + 31 + 30 + 31 + 31 + 30 + 31 + 30)
else: # 윤년이면 2월은 29일 까지
  if (thisYearDay < 31):
    month = 1
    day = 1 + thisYearDay
  elif (thisYearDay < 31 + 29):
    month = 2
    day = 1 + thisYearDay - (31)
  elif (thisYearDay < 31 + 29 + 31):
    month = 3
    day = 1 + thisYearDay - (31 + 29)
  elif (thisYearDay < 31 + 29 + 31 + 30):
    month = 4
    day = 1 + thisYearDay - (31 + 29 + 31)
  elif (thisYearDay < 31 + 29 + 31 + 30 + 31):
    month = 5
    day = 1 + thisYearDay - (31 + 29 + 31 + 30)
  elif (thisYearDay < 31 + 29 + 31 + 30 + 31 + 30):
    month = 6
    day = 1 + thisYearDay - (31 + 29 + 31 + 30 + 31)
  elif (thisYearDay < 31 + 29 + 31 + 30 + 31 + 30 + 31):
    month = 7
    day = 1 + thisYearDay - (31 + 29 + 31 + 30 + 31 + 30)
  elif (thisYearDay < 31 + 29 + 31 + 30 + 31 + 30 + 31 + 31):
    month = 8
    day = 1 + thisYearDay - (31 + 29 + 31 + 30 + 31 + 30 + 31)
  elif (thisYearDay < 31 + 29 + 31 + 30 + 31 + 30 + 31 + 31 + 30):
    month = 9
    day = 1 + thisYearDay - (31 + 29 + 31 + 30 + 31 + 30 + 31 + 31)
  elif (thisYearDay < 31 + 29 + 31 + 30 + 31 + 30 + 31 + 31 + 30 + 31):
    month = 10
    day = 1 + thisYearDay - (31 + 29 + 31 + 30 + 31 + 30 + 31 + 31 + 30)
  elif (thisYearDay < 31 + 29 + 31 + 30 + 31 + 30 + 31 + 31 + 30 + 31 + 30):
    month = 11
    day = 1 + thisYearDay - (31 + 29 + 31 + 30 + 31 + 30 + 31 + 31 + 30 + 31)
  elif (thisYearDay < 31 + 29 + 31 + 30 + 31 + 30 + 31 + 31 + 30 + 31 + 30 + 31):
    month = 12
    day = 1 + thisYearDay - ( 31 + 29 + 31 + 30 + 31 + 30 + 31 + 31 + 30 + 31 + 30) # 너무 반복되는게 많다. 어떻게 줄일 수 있을까.

print(f"{thisYear}년 {month}월 {day}일 {hour}시 {minute}분 {second}초")

2022년 8월 16일 1시 56분 39초

In [ ]:
# 문자열이 *연산자를 만나면? *는 반복 연산자가 된다.

s = "="

print(s * 20)
print("회원관리")
print("-" * 20)

====================
회원관리
--------------------

# 지수 연산자 : 제곱을 한다.

In [ ]:
num1 = 10
num2 = 3
print(num1**num2)

1000

In [ ]:
# <실습> 원의 반지름(실수값)을 입력 받아서 원의 넓이를 구하는 코드를 작성해보세요

radius = float(input("반지름 = "))

print("원의 넓이 = {:.3f}".format(radius ** 2 * 3.14))

반지름 = 3.2
원의 넓이 = 32.154

# 대입연산자 대입복합연산자

- 대입연산자 : =
- 대입복합연산자 : += -= *= /= //= %=
  - a = a + 10 ▶ a += 10

# 치환 : 두 변수의 값을 맞바꾸기

In [ ]:
A = 1
B = 2

C = A
A = B
B = C

print(A, B) # C 나 JAVA는 이렇게 함

2 1

In [ ]:
A, B = 1, 2

print(A, B)

1 2

In [ ]:
A ,B = B , A

print(A, B)

1 2

# 비교 연산자 : 크기를 비교한다. 결과는 True, False

- == != > >= < <=

In [ ]:
a = 100
b = 200 
c = 200

print(a == b)
print(a != b)
print(b > c)
print(b >= c)
print(b < c)
print(b <= c)

False
True
False
True
False
True

# 논리연산자 : 두 개의 논리를 비교하여 결과를 판단

- and : 두 개의 논리가 True인 경우만 결과가 True인 논리
- or : 두개의 논리가 False인 경우만 결과가 False인 논리
- not : 부정논리 True이면 False, False이면 True

In [ ]:
a = 100
b = 200 
c = 200

# and
print(a == b and a > b)
print(a == b and a < b)
print(a != b and a > b)
print(a != b and a < b)

False
False
False
True

In [ ]:
a = 100
b = 200 
c = 200

# or
print(a == b or a > b)
print(a == b or a < b)
print(a != b or a > b)
print(a != b or a < b)

False
True
True
True

In [ ]:
a = 100
b = 200 
c = 200

# not

print(not a == b)

True

# 삼항 연산자

- True일때 값 if 조건 else False일때 값

In [ ]:
num1 = 20

result = "even number" if num1 %2 == 0 else "odd number"

print(result)

even number

In [ ]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))

result = num2 - num1 if num1 < num2 else num1 - num2
print("두 수의 차 >> {}".format(result))

첫 번째 정수 입력 >> 1
두 번째 정수 입력 >> 2
두 수의 차 >> 1

# 조건문 : 조건에 따라 실행

 - 키워드 : if elif else

In [ ]:
# if 

money = 7000

# 만약 money가 10000원 이상이면 택시를 탄다. 
if money >= 10000:
  print("택시를 탄다")


# 만약 money가 10000원 미만이면 버스를 탄다. 
if money < 10000:
  print("버스를 탄다")

# 들여쓰기를 안해서 if랑 상관없다. 

print("출발")

버스를 탄다
출발

In [ ]:
# 실습 : 숫자를 입력받아서 짝수인지 홀수인지 출력하기

inputData = int(input("정수 써봐 >> "))

if inputData%2 == 0:
  print("짝수야")

if inputData%2 != 0:
  print("홀수야")

정수 써봐 >> 13
홀수야

In [ ]:
money = 9999

if money < 10000:
  print("버스를 탄다")
else:
  print("택시를 탄다")

버스를 탄다

In [ ]:
num = int(input("num = "))

if num % 5 != 0 or num % 3 != 0:
  print("num은 3과 5의 배수가 아닙니다")
else:
  print("num은 3과 5의 배수입니다")

num = 13
3과 5의 배수가 아닙니다

In [ ]:
num1 = int(input("이거 몇 개냐? "))
num2 = int(input("저거는 몇 갠데? "))

if num1 < num2:
  print("저게 더 많네")
elif num2 < num1:
  print("이게 더 많네")
else:
  print("똑같네")

이거 몇개냐? 1
저거는 몇갠데? 1
똑같네

In [ ]:
# <실습> 사람 이름을 입력받아서 김씨인지 박씨인지 다른 성씨인지 알아내기

inputName = input("이름 >> ")

if inputName.find("김") == 0:
  print("김씨입니다")
elif inputName.find("이") == 0:
  print("이씨입니다")
elif inputName.find("박") == 0:
  print("박씨입니다")
else:
  print("다른 성씨입니다")

이름 >> 이영웅
이씨입니다

In [9]:
print("-----[Coffee Maker}-----")
inputMoney = int(input("현금 투입구 >> "))
print("커피를 고르세요")
inputMenu = int(input("[1]에스프레소 700원 [2]아메리카노 1100원 [3]헤이즐넛 1300원 >> "))

if inputMenu == 1:
  price = 700
elif inputMenu == 2:
  price = 1100
elif inputMenu == 3:
  price = 1300

if inputMoney < price:
  print("돈이 부족해요")
else:
  print("거스름돈 {}원".format(inputMoney - price))
  print("1000원 X {}".format((inputMoney - price)//1000))
  print("500원 X {}".format((inputMoney - price)%1000//500))
  print("100원 X {}".format((inputMoney - price)%500//100))

-----[Coffee Maker}-----
현금 투입구 >> 13000
커피를 고르세요
[1]에스프레소 700원 [2]아메리카노 1100원 [3]헤이즐넛 1300원 >> 3
거스름돈 11700원
1000원 X 11
500원 X 1
100원 X 2