# 함수

- 목적을 달성하기 위해 독립적으로 설계한 코드의 집합
- 장점
    - 반복적인 코드 감소
    - 코드가 간단해져서 읽기 좋다
    - 유지보수가 쉽다 (해당 함수만 수정)
    - 재사용성 높아진다

In [1]:
# 합을 구하는 함수
def hap(num1, num2):
    return num1 + num2

In [2]:
number = hap(10, 20)
number

30

In [3]:
# 문자열에서 임의 값을 제거하는 코드
str1 = "ㅋㅋㅋㅋ 예비군 훈련 받은 동주씨가 힘들어합니다 ㅋㅋㅋㅋ"

# ㅋ 라는 문자를 삭제
str1 = str1.replace("ㅋ","").strip()

str1

'예비군 훈련 받은 동주씨가 힘들어합니다'

In [4]:
list1 = ["영웅은 공부를 열심히 한다 ㅋㅋㅋㅋ",
         "ㅋㅋ 옆에서 은진씨가 웃고 있다 ㅋㅋㅋ",
        "승원B는 현재 ㅋ 온라인에서 ㅋ"]

list2 = ["경령씨 열심히 하고 ㅋ 있나요 ㅋㅋ",
        "영주는 ㅋㅋㅋ 자꾸 아프데요"]

In [6]:
for s1 in list1:
    print(s1.replace("ㅋ","").strip())
for s2 in list2:
    print(s2.replace("ㅋ","").strip())

영웅은 공부를 열심히 한다
옆에서 은진씨가 웃고 있다
승원B는 현재  온라인에서
경령씨 열심히 하고  있나요
영주는  자꾸 아프데요

In [9]:
def delk(mmm):
    for m in mmm:
        print(m.replace("ㅋ","").strip())

In [10]:
delk(list1)
delk(list2)

영웅은 공부를 열심히 한다
옆에서 은진씨가 웃고 있다
승원B는 현재  온라인에서
경령씨 열심히 하고  있나요
영주는  자꾸 아프데요

- delkk에서 값을 받아서 출력

In [16]:
def delkk(mmm):
    kkk = []
    for m in mmm:
        kkk.append(m.replace("ㅋ","").strip())
    return kkk

In [17]:
print(delkk(list1))
print(delkk(list2))

['영웅은 공부를 열심히 한다', '옆에서 은진씨가 웃고 있다', '승원B는 현재  온라인에서']
['경령씨 열심히 하고  있나요', '영주는  자꾸 아프데요']

### 매개변수와 반환값에 따라서 함수 나누기

1. 매개변수x 반환값x
2. 매개변수x 반환값o
3. 매개변수o 반환값x
4. 매개변수o 반환값o

- 두 수를 입력받아서 둘 중에 더 큰수를 반환하는 함수

In [29]:
def bigg():
    print("제발 서로 다른 정수를 넣어줘")
    n1 = int(input("n1 = "))
    n2 = int(input("n2 = "))
    
    return n1 if n1 > n2 else n2

In [28]:
bigg()

제발 두 개의 다른 정수를 넣어줘
n1 = 3
n2 = 4

4

- 2개의 정수를 받아 2개의 숫자 중 10에 더 가까운 수를 출력하는 함수 close10을 만들기
- 만약 두 숫자가 10과의 거리가 같다면 첫 번째 수를 출력

In [32]:
def close10():
    n1 = int(input("n1 = "))
    n2 = int(input("n2 = "))
    
    dop = n2 if (n1 - 10)**2 > (n2 - 10)**2 else n1
    print(dop)

In [36]:
close10()

n1 = 0
n2 = 20
0

## Docstring
- 함수에 대한 설명
- shift + tab으로 확인 할 때 나오는 내용

In [37]:
def close10():
    """
    10에서 가까운 수를 출력하는 함수
        - 입력 매개변수나 반환 값이 없다
    
    """
    n1 = int(input("n1 = "))
    n2 = int(input("n2 = "))
    
    dop = n2 if (n1 - 10)**2 > (n2 - 10)**2 else n1
    print(dop)

In [40]:
def delkk(mmm):
    """
        리스트에 들어있는 문자열에서 'ㅋ'을 제거하고 좌우 공백을 제거하는 함수
    
        입력 매개변수 : 문자열만 있는 리스트
        리턴 : 리스트    
    """
    kkk = []
    for m in mmm:
        kkk.append(m.replace("ㅋ","").strip())
    return kkk

In [ ]:
delkk

# 가변 매개변수 *

In [41]:
def hap(n1, n2):
    return n1 + n2
hap(29,40) # 2개 합

69

In [42]:
def hap(n1, n2, n3):
    return n1 + n2 + n3
hap(29,40, 32) # 3개 합, 이렇게 만드는 것은 비효율적이다

101

In [43]:
def hap(*n):
    print(n)
hap(29, 23)
hap(24, 546, 6, 13)

(29, 23)
(24, 546, 6, 13)

In [48]:
def hap(*n):
    return sum(n)
hap(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

55

## 가변 매개변수 **

- 딕셔너리에서 사용하는 가변 매개변수

In [55]:
def print_dic(**dic):
    print(dic)

print_dic(이름="홍길동", 나이=20, 직업="의적")

{'이름': '홍길동', '나이': 20, '직업': '의적'}

## 여러개의 값을 리턴하는 방법

- 직접 쉽표로 구분해서 반환 - 튜플 형태로 반환
- 나열형 타입에 저장해서 반환

In [56]:
def calFun(n1, n2):
    return n1+n2, n1-n2, n1*n2, n1/n2

(13, 7, 30, 3.3333333333333335)

In [57]:
r1, r2, r3, r4 = calFun(10, 3)
print(r1, r2, r3, r4)

13 7 30 3.3333333333333335

- 리턴이 아주 많으면 나열형 변수에 저장하자!

In [63]:
str1 = "아 조금만 있으면 수업이 끝나요. 이제 주말이라서 쉴 수 있어요."

# str1의 문장을 빈 공백으로 분리해서 반환하는 함수를 작성

def jjal(ssss):
    return ssss.split()

for i in jjal(str1):
    print(i)

아
조금만
있으면
수업이
끝나요.
이제
주말이라서
쉴
수
있어요.

- eval() : 문자열로 된 수식을 그대로 계산하는 함수

In [1]:
eval("1+2")

3

In [3]:
eval(input("단순 계산기"))

단순 계산기33-23

10

- 기본 매개변수 설정
    - 입력 매개변수를 미리 설정한다
    - 매개변수를 입력하지 않으면 미리 설정한 값을 사용한다

In [4]:
def calFun(op, n1, n2):
    return eval(str(n1) + op + str(n2))


print(calFun("+", 10, 23))

33

In [11]:
# 매개변수의 수가 부족해서 에러 발생
# print(calFun(10, 20)) calFun() missing 1 required positional argument: 'n2'

In [8]:
# op의 기본값을 +로 설정
# 마지막 번째 매개변수 값을 입력하지 않으면 기본값을 쓴다
def calFun2(n1, n2, op="+"):
    return eval(str(n1) + op + str(n2))

print(calFun2(20, 10, "/"))
print(calFun2(20, 10))

2.0
30

In [10]:
# 매개변수를 모두 기본값으로 설정하면 매개변수의 순서를 지키지 않고 쓸 수 있다
# print(calFun2("+", 20, 10)) 순서 안지켜서 오류

In [14]:
def calFun3(n1 = 0, n2 = 0, op="+"):
    return eval(str(n1) + op + str(n2))


print(calFun3(n1 = 20, op = "%", n2 = 4))
# print(calFun3(20, "%", 4)) 그래도 이건 안 된다. 이름을 지정해야 순서를 지키지 않아도 함수를 쓸 수 있다

0

- 주의점1
    - 매개변수 값을 다 설정하지 않으면 설정한 매개변수가 설정하지 않은 매개변수 뒤에 나와야 한다

In [30]:
# def calFun4(op="+", n1, n2):
#     return eval(str(n1) + op + str(n2))

- 주의점2
    - 가변 매개변수와 기본값 매개변수를 사용하는 경우 기본값 매개변수는 가변 매개변수 앞에 와야한다

In [32]:
# def calFun4( *n, op="+"):
#     return sum(n)

# calFun4(1,3,4,5,2,'+') 에러

In [33]:
def calFun4(op="+", *n):
    return sum(n)

calFun4('*',1,3,4,5,2,)

15

In [55]:
def calFun5(n1,*n,op="+"):
    return n1 + sum(n)

calFun5(1,3,4,2)

10