# 리스트 (list)
- 하나의 변수에 여러개의 값(요소)을 저장하는 데이터타입
- 순서가 있는 인덱스가 있다. (왼쪽 끝에서 0부터 1씩 증가, 오르쪽 끝에서 -1부터 -1씩 증가)
- 대괄호를 사용해서 요소를 정의
- 요소는 쉼표(,)로 구분
- 요소 추가, 수정, 삭제 가능
- 모든 데이터 타입 저장 가능
- 다른 리스트를 요소로 저장할 수 있다.

In [ ]:
# 빈 리스트 정의
list1 = []

print(list1)

[]

In [ ]:
# 숫자를 저장
list2 = [2, 3123, 412, 31, 674354]

print(list2)

[2, 3123, 412, 31, 674354]

In [ ]:
# 문자열 저장
list3 = ["soccer", "basketball", "rugby"]

print(list3)

['soccer', 'basketball', 'rugby']

In [ ]:
# 여러가지 타입의 데이터를 동시에 저장
list4 = [11, 2.71, "김정은", False]

print(list4)

[11, 2.71, '김정은', False]

In [ ]:
# 리스트를 요소로 저장 가능
list5 = [list2, list4]

print(list5)

[[2, 3123, 412, 31, 674354], [11, 2.71, '김정은', False]]

# 리스트 요소 검색

- 인덱싱
- 슬라이싱

In [3]:
list6 = [2, 5, 7, 9, 10, 14, 16, 20]

# 14가져오기
print(list6[-3])
print(list6[5])

print(list6[1] + list6[-2])

14
14
21

In [ ]:
list7 = [2, 5, 7, "Python"]

#y 만 출력

print(list7[-1][1])

# th 만 출력
print(list7[-1][2:4])

y
th

In [ ]:
list8 = [[2, 5, 7, 9], 10, [14, 16, 20]]

# 16
print(list8[-1][1])

16

In [ ]:
list9 = [[2, 5, 7, "김유신"], "홍길동", [14, "이순신", 20]]

# 동
print(list9[1][2])

# 순
print(list9[2][1][1])

동
순

- 리스트 + 리스트 하면 리스트리스트 가 된다. 연결연산자 또는 결합연산자

In [1]:
list10 = [1, 2, 3]
list11 = [3, 4, 5]

list13 = list10 + list11
# 3345만 출력
print(list13[2:])

[1, 2, 3, 3, 4, 5]
[3, 3, 4, 5]

# 요소 추가하기

- 리스트명.append(값) : 리스트의 오른쪽 끝에 값을 추가한다. 
- 리스트명.insert(인덱스,값) : 해당 인덱스에 값을 삽입한다.

In [4]:
list15 = ["홍길동", "김유신"]

# 이순신을 추가
list15.append("이순신")

print(list15)

['홍길동', '김유신', '이순신']

In [5]:
# 0번 인덱스에 마당쇠를 추가
list15.insert(0, "마당쇠")

print(list15)

['마당쇠', '홍길동', '김유신', '이순신']

In [ ]:
# <실습> 
# 1 빈 리스트 list20을 생성
list20 = []

# 2 list20에 "백두산"과 "한라산" 추가
list20.append("백두산")
list20.append("한라산")

# 3 list20의 1번 인덱스에 "금강산" 추가
list20.insert(1, "금강산")

print(list20)

['백두산', '금강산', '한라산']

In [1]:
foods = input().split()

print(type(foods))

치즈 달걀 감자
<class 'list'>

# 요소 변경하기
- 해당 요소의 인덱스를 지정해서 값을 넣어주면 기존값이 변경
- 슬라이싱을 이용해서 값을 변경할 때는 요소의 개수에 주의

In [1]:
list30 = ["양용승", "김명훈", "장영주", "고정수"]

# 김명훈을 김건도로 변경
list30[1] = "김건도"

print(list30)

['양용승', '김건도', '장영주', '고정수']

In [2]:
# 양용승을 용승, 김건도를 건도, 장영주는 영주로 변경

list30[0:3] = ['용승', '건도', '영주']

list30

['용승', '건도', '영주', '고정수']

In [3]:
# 용승을 용승만세로 변경 -> 문자가 하나씩 요소로 들어간다
list31 = list30.copy()

list31[0:1] = '용승만세'

list31

['용', '승', '만', '세', '건도', '영주', '고정수']

In [6]:
list32 = list30.copy()

#용승을 30으로 변경
list32[0] = 30

list32

# list32[0:1] = 31
# can only assign an iterable : 반복할 수 있는 값만 허용한다
# 슬라이싱을 하면 자료형은 리스트이다 정수형 자료형을 넣으면 오류가 생긴다

list32[0:1] = [31] 

list32

[31, '건도', '영주', '고정수']

In [7]:
list33 = list30.copy()

list33[0:1] = ["용승만세"]

list33

['용승만세', '건도', '영주', '고정수']

In [8]:
# ["용승만세", "용승만세", "용승만세", "고정수"]
list34 = list30.copy()

# 슬라이싱한 요소의 개수가 넣는 값의 요소의 개수와 다르면 넣는 데이터의 요소 개수로 변한다
list34[0:3] = ["용승만세"]

list34

['용승만세', '고정수']

# 요소 삭제
- del 리스트명.[인덱스] : 인덱스, 슬라이싱으로 삭제
- 리스트명.remove(요소값) : 요소값으로 삭세
    - 같은 요소가 여러개라면 첫 번째 요소만 삭제
    - 값이 없으면 오류발생

In [2]:
list30 = [10, 30, 40, 30, 34, 53, 45, 22, 53, 2, 42]

# 2번 인덱스의 요소 삭제
del list30[2]

list30

[10, 30, 30, 34, 53, 45, 22, 53, 2, 42]

In [3]:
# 슬라이싱으로 범위를 지정해서 삭제
#[22, 53, 2, 42]

del list30[-4:]

list30

[10, 30, 30, 34, 53, 45]

In [4]:
list30 = [10, 30, 40, 30, 34, 53, 45, 22, 53, 2, 42]

# 30을 삭제 - 첫번째 요소만 삭제
list30.remove(30)

list30

# 리스트 겁나 느리다

[10, 40, 30, 34, 53, 45, 22, 53, 2, 42]

In [5]:
# 없는 요소를 삭제하려고 하면 오류 발생
# list30.remove(130)

ValueError: list.remove(x): x not in list

In [6]:
# 리스트에 해당 요소가 있을 때만 삭제해야함
# 130 in list30 : 130이 list30에 있으면 True를 반환
if 130 in list30:
    list30.remove(130)
else:
    print("리스트에 해당 요소가 없습니다")

리스트에 해당 요소가 없습니다

# 리스트에서 자주 사용하는 함수

- sort() : 오름차순 정렬
    - 숫자, 영어, 한글이 있으면 숫자, 영어, 한글 순서로 정렬
- reverse() : 인덱스의 순서를 받대로 정렬(순서 뒤집기)
- index(요소) : 요소의 인덱스를 반환 얜 오류가 뜰 수 있다
- pop() : 마지막 인덱스의 요소를 반환하고 삭제
- len() : 리스트의 요소수를 반환

In [15]:
list30 = [10, 30, 40, 30, 34, 53, 45, 22, 53, 2, 42]

# 오름차순 정렬
list30.sort()

list30

[2, 10, 22, 30, 30, 34, 40, 42, 45, 53, 53]

In [16]:
# 내리차순 정렬
list30.reverse()

list30

[53, 53, 45, 42, 40, 34, 30, 30, 22, 10, 2]

In [17]:
list30.index(45)

2

In [13]:
# list30.index(100) 오류

In [18]:
# 요소 개수
len(list30)

11

In [19]:
# pop() : 마지막 요소를 반환하고 삭제
# stack (가장 나중에 들어간 데이터부터 접근)을 구성할 때append()와 같이 사용

print(list30.pop())
list30

2

[53, 53, 45, 42, 40, 34, 30, 30, 22, 10]

# tuple
- list와 사용법이 거의 같다
- 차이점
    - 요소를 할당할 때 소괄호 사용
    - 추가, 수정, 삭제 불가능

In [20]:
tuple1 = (20, 30.34, "홍길동", False)

tuple1

(20, 30.34, '홍길동', False)

In [22]:
# 홍길동 출력

print(tuple1[2])

홍길동

In [24]:
# 30.34부터 False까지 출력

print(tuple1[1:])

(30.34, '홍길동', False)

In [25]:
# 홍길동을 마당쇠로 변경
tuple1[2] = '마당쇠'

TypeError: 'tuple' object does not support item assignment

# in과 not in

- iterable (반복적으로 접근할 수 있는 자료형) 타입에 해당 요소가 있는지 없는지 반환
- in : 요소가 있는지
- not in : 요소가 없는지

In [26]:
tuple2 = (20, 40, 30, 45)

print(40 in tuple2)
print(40 not in tuple2)

True
False

In [28]:
list40 = ['홍길동', '이순신', '김유신']


if '마당쇠' in list40:
    list40.index('마당쇠')
else:
    print("없엉")

없엉