# Dictionary

- key와 value 쌍으로 구성
- 중괄호를 사용해서 요소를 설정한다
- key와 value는 콜론으로 구분하고 요소는 쉼표로 구분한다
- key는 유일한 값이어야하고 수정할 수 없다
    - key를 중복해서 쓰면 나중 것만 인식한다
- value는 숫자, 문자, 나열형 데이터(문자열, 리스트, 튜플, 딕셔너리 등)이 올 수 있다
- File DB의 기본형으로 대형 데이터를 저장하려고 쓴다

In [1]:
dic1 = {}

dic1

{}

In [2]:
dic2 = {"name":"홍길동", "age":20}
dic2

{'name': '홍길동', 'age': 20}

In [3]:
# key 로 숫자도 가능
dic3 = {1:"홍길동", 2:20}

dic3

{1: '홍길동', 2: 20}

- key를 이용해서 검색한다

In [4]:
# 값을 가져오기
dic3[1]

'홍길동'

In [5]:
dic2["name"]

'홍길동'

- 만약에 key를 중복해서 쓰면 이전 key를 지우고 새로 생긴다

In [6]:
dic4 = {"name":"hong", "name":"yi"}

dic4["name"]

'yi'

- 요소 추가하기

In [7]:
dic2["job"] = "의적"
dic2

{'name': '홍길동', 'age': 20, 'job': '의적'}

- value에 리스트를 추가

In [8]:
dic5 = {"name":["홍길동"], "age":[20], "job":["의적"]}

dic5

{'name': ['홍길동'], 'age': [20], 'job': ['의적']}

- 각각의 key에 김유신, 30, 장군을 추가

In [9]:
dic5['name'].append('김유신')
dic5['age'].append(30)
dic5['job'].append('장군')

dic5

{'name': ['홍길동', '김유신'], 'age': [20, 30], 'job': ['의적', '장군']}

- setdefault(key, value) : 딕셔너리에 새로운 요소를 추가
    - value가 없다면 None

In [10]:
dic6 = {"code":100, "type": "자동차"}
dic6

{'code': 100, 'type': '자동차'}

In [11]:
dic6.setdefault("name", "소나타")

dic6

{'code': 100, 'type': '자동차', 'name': '소나타'}

In [12]:
# value가 없으면 None이 들어가는 게 위에서 인덱싱으로 새로운 요소를 넣는 것과 다른점이다 
dic6.setdefault("price")

dic6

{'code': 100, 'type': '자동차', 'name': '소나타', 'price': None}

- 요소값 수정하기
    - dic[key] = 수정할 값

In [13]:
dic6["price"] = "1000만원"

dic6

{'code': 100, 'type': '자동차', 'name': '소나타', 'price': '1000만원'}

In [14]:
dic5

{'name': ['홍길동', '김유신'], 'age': [20, 30], 'job': ['의적', '장군']}

In [15]:
# 의적을 왕으로 변경

dic5['job'][0] = '왕'

dic5

{'name': ['홍길동', '김유신'], 'age': [20, 30], 'job': ['왕', '장군']}

- 딕셔너리에 딕셔너리를 저장할 수 있다

In [18]:
dic7 = {"region1":{"region2":["전남", "전북", "서울"]}}

dic7

{'region1': {'region2': ['전남', '전북', '서울']}}

In [19]:
# 전북을 경기로

dic7['region1']['region2'][1] = '경기'

dic7

{'region1': {'region2': ['전남', '경기', '서울']}}

- update(key=value) : 해당 키 값을 value로 변경
    - key값이 문자열인 경우만 가능

In [20]:
dic8 = {"code":100, 2:"자동차"}

dic8

{'code': 100, 2: '자동차'}

In [21]:
# code를 100에서 200 변경
dic8.update(code=200)

dic8

{'code': 200, 2: '자동차'}

In [22]:
# 2를 자동차에서 비행기로 변경
dic8.update(2='비행기')

dic8 # expression cannot contain assignment, perhaps you meant "=="? 하여튼 오류

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3470599017.py, line 2)

In [23]:
# update에 숫자key를 쓰려면 1 :
dic8.update({2:"비행기"})

dic8

{'code': 200, 2: '비행기'}

In [24]:
# update에 숫자key를 쓰려면 2 : 리스트를 사용해서 변경
dic8.update([[2, "배"]])

dic8

{'code': 200, 2: '배'}

In [27]:
dic9 = {1:100, 2:"자동차"}

dic9

{1: 100, 2: '자동차'}

In [32]:
# update에 숫자key를 쓰려면 3 :
# zip()함수를 사용하는 방법
# 리스트들의 같은 인덱스 값들을 튜플로 묶어 주는 기능

list1 = [2, 5, 6]
list2 = [4, 5, 3]

for i in zip(list1, list2):
    print(f"{i}")

(2, 4)
(5, 5)
(6, 3)

In [33]:
dic9.update(zip([1, 2], [200,"우주선"]))

dic9

{1: 200, 2: '우주선'}

- 요소 삭제하기
    - del 딕셔너리명[key]

In [35]:
del dic9[1]

dic9

{2: '우주선'}

In [37]:
dic10 = {"name":"홍길동", "name":"이순신"}

print(dic10)

del dic10["name"]

print(dic10)

{'name': '이순신'}
{}

- pop(key) : 해당 key를 반환하고 해당 요소를 삭제
    - 단, 해당 key가 없으면 오류 발생

In [45]:
dic11 = {'code': 100, 'type': '자동차', 'name': '소나타', 'price': '천만원'}

dic11

{'code': 100, 'type': '자동차', 'name': '소나타', 'price': '천만원'}

In [46]:
print(dic11.pop("name"))

print(dic11) # 비복원 추출

소나타
{'code': 100, 'type': '자동차', 'price': '천만원'}

In [40]:
print(dic11.pop("name"))

print(dic11) # KeyError: 'name'
# 없는 key를 pop하면 오류 발생

KeyError: 'name'

In [41]:
# 파라미터 값으로 해당 키가 없다면 반환하는 값을 설정
print(dic11.pop("name", -1))

print(dic11)

-1
{'code': 100, 'type': '자동차', 'price': '천만원'}

- popitem() : 마지막 요소(?)를 반환하고 삭제하는 기능

In [47]:
print(dic11.popitem())

dic11 # python 3.5 이하 버전에서는 마지막 요소를 삭제하지 않는다. 3.5이하를 안쓸건데 뭐를 지우는지 알 필요가 있을까?

('price', '천만원')

{'code': 100, 'type': '자동차'}

- 요소 검색하기

In [48]:
dic11 = {'code': 100, 'type': '자동차', 'name': '소나타', 'price': '천만원'}

dic11

{'code': 100, 'type': '자동차', 'name': '소나타', 'price': '천만원'}

In [49]:
print(dic11["code"])

100

In [50]:
# 키로 인덱싱하면 키가 없으면 에러가 발생한다 > get()
print(dic11["code1"])

KeyError: 'code1'

- get(key) : key의 value를 반환, key가 없다면 None 반환

In [51]:
print(dic11.get("code1"))

None

- keys() : 전체 key를 반환
- values() : 전체 value 반환
- items() : 전체 key와 value 반환

In [52]:
# 사이킷런에서 제공하는 iris데이터 셋을 가져온다

from sklearn.datasets import load_iris

iris = load_iris()

In [53]:
# key 확인
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [56]:
iris['target_names']

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

- 키 값을 접근하는 다른 방법

In [57]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [58]:
dic11 = {'code': 100, 'type': '자동차', 'name': '소나타', 'price': '천만원'}

dic11

{'code': 100, 'type': '자동차', 'name': '소나타', 'price': '천만원'}

In [59]:
dic11.values()

dict_values([100, '자동차', '소나타', '천만원'])

In [60]:
dic11.items() # 튜플 형태로 반환

dict_items([('code', 100), ('type', '자동차'), ('name', '소나타'), ('price', '천만원')])

In [62]:
for key, value in dic11.items():
    print(f"key : {key}, value : {value}")

key : code, value : 100
key : type, value : 자동차
key : name, value : 소나타
key : price, value : 천만원

- in, not in : 딕셔너리에 해당 key가 있는지 검색

In [65]:
if "code1" in dic11:
    print(dic11["code1"])
else:
    print("그 key가 없습니다")

그 key가 없습니다

- clear() : 딕셔너리의 모든 요소 삭제

In [66]:
dic11.clear()
dic11

{}

In [67]:
score_dic = {'홍길동':{'수학':99,'영어':80,'국어':75},
             '김유신':{'영어':67,'국어':87,'수학':55},
             '이순신':{'수학':67,'국어':41,'영어':23}}

In [77]:
# 수학 점수 평균 : 
# 영어 점수 평균 : 
# 국어 점수 평균 : 

hapm = 0
hape = 0
hapk = 0

for value in score_dic.values():
    hapm += value.get("수학")
    hape += value.get("영어")
    hapk += value.get("국어")
    
print(f"수학 점수 평균 : {int(hapm/len(score_dic))}")
print(f"영어 점수 평균 : {int(hape/len(score_dic))}")
print(f"국어 점수 평균 : {int(hapk/len(score_dic))}")

수학 점수 평균 : 73
영어 점수 평균 : 56
국어 점수 평균 : 67

In [94]:
# 수학 점수 평균 : 
# 영어 점수 평균 : 
# 국어 점수 평균 : 
# 인덱스로 하지말고 해보자

sublist = []
for v1 in score_dic.values():
    for k2 in v1.keys():
        sublist.append(k2)
    break

haplist = []
for i in sublist:
    haplist.append(0)

for v1 in score_dic.values():
    for k2, v2 in v1.items():
        for i in range(len(sublist)):
            if(k2 == sublist[i]):
                haplist[i] += v2

for i in range(len(sublist)):
    print(f"{sublist[i]} 점수 평균 : {round(haplist[i]/len(score_dic), 2)}")

['수학', '영어', '국어']
[0, 0, 0]
수학 점수 평균 : 73.67
영어 점수 평균 : 56.67
국어 점수 평균 : 67.67

In [9]:
s1 = "---------------------------"



print(f"{s1}회원 관리 프로그램 V1.0{s1}")
member= {}


while True:
    print("[1]\t\t[2]\t\t[3]\t\t[4]\t\t[5]\t\t")
    print("회원등록\t회원검색\t회원수정\t회원삭제\t종료")
    press = input(">> ")
    if press == "1":
        code = input("회원 코드 >> ")
        name = input("이름 >> ")
        age = input("나이 >> ")
        stone = input("회원 등급(골드, 실버, 브론즈) >> ")        
        
        member[code] = {"name":name, "age":age, "stone":stone}       
        continue
    if press == "2":
        print(s1)
        print("코드\t이름\t나이\t등급")
        print(s1)
        for k1, v1 in member.items():
            print(f"{k1}\t", end="")
            for v2 in v1.values():
                print(f"{v2}\t", end="")
        print()
        print(s1)
        print()
        
        continue
    if press == "3":
        continue
    if press == "4":
        continue
    if press == "5":
        pass
    break

---------------------------회원 관리 프로그램 V1.0---------------------------
[1]		[2]		[3]		[4]		[5]
회원등록	회원검색	회원수정	회원삭제	종료
>> 1
회원 코드 >> 1254
이름 >> 123
나이 >> 231
회원 등급(골드, 실버, 브론즈) >> 5
[1]		[2]		[3]		[4]		[5]
회원등록	회원검색	회원수정	회원삭제	종료
>> 2
---------------------------
코드	이름	나이	등급
---------------------------
1254	123	231	5
---------------------------

[1]		[2]		[3]		[4]		[5]
회원등록	회원검색	회원수정	회원삭제	종료
>> 5